{% extends "base.html"%} {% block content %}
<div class="container">
</div>
<div class="container">
    <div class="row">
        <div class="card col-md-10 offset-md-1 mt-md-5 col-12" style="border-radius: 25px;
    transition: ease;
    box-shadow: 0px 0px 0px;">
            <div class="card-body">
                <div class="row">
                    <div class="h1 col-md-6">Странички бизнесов</div>
                             <div class="row col-md-6">
                            <form class="form-inline col-md-12 " method="post">
                                {{ form.hidden_tag() }}
                                <div class="form-group col-md-9">
                                {{ form.words(class_="form-control col-md-12", required="", placeholder="Найти по ключевым словам") }}

                                </div>
                                <button class="btn my-2 my-sm-0 btn-outline-warning" type="submit">Найти</button>
                            </form>

                            {% if form.words.errors %}
                            <div class="alert alert-danger offset-md-3">
                                <strong>
                                {%for error in form.words.errors%}
                                    {{error}}
                                {%endfor%}
                                </strong>
                            </div>
                            {%endif%}
                             </div>



                </div>

                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Название</th>
                                <th>Рейтинг</th>
                                <th>Подробнее</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for card in business_card_list  %}

                            <tr>
                                <!--<th scope="row"><div>{{ card.id }}</div></th>-->
                                {% if card!=0 %}
                                <td><div>{{ card.name }}</div></td>

                                <td>

                                {% if card.rating<=1.5  %}
                                        <div class="rating h3 text-warning">
                                            <span >★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>  {{ card.rating }}
                                        </div>
                                        {% elif card.rating>1.5 and card.rating<=2.5 %}
                                        <div class="rating h3 text-warning">
                                            <span >★</span><span>★</span><span>☆</span><span>☆</span><span>☆</span>  {{ card.rating }}
                                        </div>
                                        {% elif card.rating>2.5 and card.rating<=3.5 %}
                                        <div class="rating h3 text-warning">
                                            <span >★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>  {{ card.rating }}
                                        </div>
                                         {% elif card.rating>3.5 and card.rating<=4.5 %}
                                        <div class="rating h3 text-warning">
                                            <span >★</span><span>★</span><span>★</span><span>★</span><span>☆</span>  {{ card.rating }}
                                        </div>
                                        {% elif card.rating>4.5%}
                                        <div class="rating h3 text-warning">
                                            <span >★</span><span>★</span><span>★</span><span>★</span><span>★</span>  {{ card.rating }}
                                        </div>
                                        {% endif %}

                                </td>

                                <td>
                                    <a href="/business/business_card/{{ card.business_id }}">
                                        <button type="button" class="btn btn-warning">Посмотреть</button>
                                    </a>
                                </td>
                                {% endif %}
                            </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
