

{% extends "base.html"%} {% block content %}
<div class="py-5">
            <div class="container">

                        <h3>В помощь бизнесу</h3>
                        <p class="my-3">Наш сайт предоставяет множество возможностей для малого и не только бизнеса. Итак, если вы планируете пользоваться нашим сайтом, то в первую очередь Вам необходимо <a class="text" href="{{ url_for('business.registration_business') }}" role="button"><FONT color="#ff4f00">зарегистрировать свой бизнес</FONT> </a>
                        После чего Вам будет предложено создать страницу Вашего бизнеса, где Вы можете указать необходимую для клиента информацию.
                        Далее в разделе "Странички" Вы можете изменить Вашу страницу или посмотреть страницы других бизнесов.
                        В разделе "Администрирование" возможно создавать заказы и услуги, а также просматривать уже созданный услуги и заказы. Если Вы захотите изменить какие-либо настройки, то  это возможно сделать в разделе "Аккаунт".</p>







            </div>
        </div>

{% endblock %}