<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/popper.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><i class="fa d-inline fa-lg fa-cloud"></i><b>OrderTracker</b></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <ul class="navbar-nav">
                {% block spanleft %}{% endblock %}


                {% if session.get('id', '')!='' %}


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Бизнес&nbsp;</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('business.business_card_list') }}">Странички
                                бизнесов</a>
                            <a class="dropdown-item"
                               href="{{ url_for('business.business_card', business_id=session.get('id', '')) }}">Ваша
                                страничка</a>
                            <a class="dropdown-item" href="{{ url_for('business.creation_card') }}">Изменить
                                страничку</a>
                            <a class="dropdown-item" href="{{ url_for('business.created_process_list') }}">Список
                                созданных заказов</a>
                            <a class="dropdown-item" href="{{ url_for('business.create_process') }}">Создать заказ</a>
                            <a class="dropdown-item" href="{{ url_for('business.possible_process_list') }}">Список
                                возможных услуг</a>
                            <a class="dropdown-item" href="{{ url_for('business.add_possible_process') }}">Создать
                                возможную услугу</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Аккаунт&nbsp;</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('business.change_business') }}">Изменить
                                настройки</a>
                            <a class="dropdown-item" href="{{ url_for('business.exit_business') }}">Выход</a>
                        </div>
                    </li>

                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Клиент</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('business.business_card_list') }}">Странички
                                бизнесов</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Бизнес</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item"
                               href="{{ url_for('business.registration_business') }}">Регистрация</a>
                            <a class="dropdown-item" href="{{ url_for('business.login_business') }}">Вход</a>
                        </div>
                    </li>

                {% endif %}


            </ul>
        </div>
    </div>
</nav>
<div class="container">
</div>
{% block content %} {% endblock %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $(function () {
        $(".dtpick").datepicker();
    });
    jQuery(function ($) {
        $("#percent").mouseup(function () {
            var per = Math.ceil(document.getElementById("percent").value);
            document.getElementById("p").style.width = per + "%";
            document.getElementById("p").innerText = per + "%"

        });
    });
    $(document).ready(() = > {
        const min_stages = 2;
    const max_stages = 10;
    let current_stages = $('.sub_option_div').length;

    let $main_div = $('#main_option_div');
    let $add_button = $('#option_add_button');

    function toggle_delete_buttons(value, condition=true) {
        if (condition)
            $('input.delete_button').prop('disabled', !value);
    }

    function toggle_add_button(value, condition=true) {
        if (condition)
            $add_button.prop('disabled', !value);
    }

    toggle_delete_buttons(false, current_stages === min_stages);
    toggle_add_button(false, current_stages === max_stages);

    /* LISTENERS */
    $add_button.click(() = > {
        if(current_stages < max_stages
    )
    {
        current_stages++;

        let current_id = 'stages-' + (current_stages - 1) + '';

        // Create new field
        let $outer_div = $("<div/>", {
            class: "sub_option_div input-group form-group"
        }).appendTo($main_div);

        //!!!!!!!!!!!!!!!!!!1
        $("<input/>", {
            class: "form-control",
            id: current_id,
            name: current_id,
            placeholder: "Этап",
            value: "",
            type: "text",
            required: ""
        }).appendTo($outer_div);
        //!!!!!!!!!!!!!!!!!!!!!

        let $button_span = $("<span/>", {
            class: "input-group-btn"
        }).appendTo($outer_div);

        $("<input/>", {
            class: "delete_button btn btn-primary",
            type: "button",
            value: "-"
        }).appendTo($button_span);

        toggle_add_button(false, current_stages === max_stages);
        toggle_delete_buttons(true);
    }
    })
    ;

    $main_div.on('click', '.delete_button', (event) = > {
        if(current_stages > min_stages
    )
    {
        current_stages--;
        $(event.currentTarget).closest('div').remove();

        //Update ids and names
        $('.sub_option_div').each((i, obj) = > {
            let $string_input = $(obj).children('input').first();

        $string_input.prop('id', 'stages-' + i);
        $string_input.prop('name', 'stages-' + i);
    })
        ;

        toggle_add_button(true);
        toggle_delete_buttons(false, current_stages === min_stages);
    }
    })
    ;
    })
    ;
</script>
