{% extends "base.html" %} {% block content %}

    <div class="py-5">
        <div class="container">

            <h3>О нас </h3>
            <p class="my-3">OrderTracker - сервис по отслеживанию заказов для бизнеса и его клиентов.
                Позволяет упростить рабочие процессы и уменьшить время, которое обычно тратится на рутину.
                У Вас есть возможность оценивать бизнесы, заказы, оставлять комментарии.
                Если вы заскучали, поиграйте в нашу бесплатную игру "Угадай результат".</p>
            <p class="my-3">Блокчейн, бигдата, VueJS, NodeJS - это не про нас.
                А вот Flask, SQLite и Bootstrap - пожалуйста. Разобраться сможет даже ребенок!
                Вам не нужно что-либо скачивать или устанавливать.</p>
            <p class="my-3">OrderTracker-сервис, созданный группой молодых разработчиков
                из Московской школы программистов под эгидой Яндекса.</p>


        </div>
    </div>

{% endblock %}
