

{% extends "base.html" %} {% block content %}

    <div class="container">
        <div class="row">
            <div class="card col-md-10 offset-md-1 mt-md-5 col-12" style="border-radius: 25px;
    transition: ease;
    box-shadow: 0px 0px 0px;">
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="h5 mt-md-3">Сбросить пароль</div>
                        {{ form.number(class_="form-control bg-light",rows="3", required="", placeholder="Номер") }}
                        {% if form.number.errors %}
                            <div class="alert alert-danger">
                                <strong>
                                    {% for error in form.number.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </div>
                        {% endif %}
                        <br>
                        <button type="submit" class="btn btn-warning">Отправить новый пароль</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}